python-socketio
requests
mss
numpy
opencv-python
pyaudio
pynput
pygame
Pillow
psutil
dxcam
turbojpeg
lz4
xxhash
msgpack
uvloop
eventlet
flask
flask-socketio
pyautogui
speech-recognition
websockets
cryptography
pywin32; platform_system=="Windows"
